target/
.project
.classpath
.settings/
/.idea
*.iml
nb-configuration.xml
sensitive.*
tmlog.lck
tmlog1.log
*.orig
.vscode/
.factorypath
.checkstyle
*.jpage
*.apt_generated

/install/helm-repo/*.tgz
node_modules/
.structurizr/
/.bin